<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/styles/body.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="icon" type="image/x-icon" href="/images/favicon.png">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>Dashboard</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/dashboard">
                            <img alt="Civil and Sanitary Works Office - De La Salle University" src="\images\dlsu.png"
                                width="20" height="20">
                        </a>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/dashboard">Current Work Orders</a></li>
                        <li><a href="/neworder">Create New Work Order</a></li>
                        <li><a href="/summary">Report Summary</a></li>
                    </ul>

                     <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="/auditlogs">Audit Logs</a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Account Name) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                <form class="navbar-form navbar-right" action="/searchorders" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for keywords" id="keyword" name="keyword">
                    </div>
                    <button type="submit" class="btn btn-secondary">Search</button>
                </form>
            </ul>
        </div>

        {{!-- Put search results below this --}}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Date Received</th>
                    <th scope="col">In Charge</th>
                    <th scope="col">Location</th>
                    <th scope="col">Item</th>
                    <th scope="col">Category</th>
                    <th scope="col">Type</th>
                    <th scope="col">Details</th>
                    <th scope="col">Requester</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            {{#each request}}
            <tr>
                <td>{{DateReceived}}</td>
                <td>{{InCharge.FirstName}}</td>
                <td>{{Location}}</td>
                <td>{{Item}}</td>
                <td>{{Category.CategoryName}}</td>
                <td>{{Type.TypeName}}</td>
                <td>{{Details}}</td>
                <td>{{Requester.FirstName}} {{Requester.LastName}}</td>
                <th><button><a href="/workorder/{{_id}}"><img src="\images\pencil-square.svg"></a></button></th>
            </tr>
            {{/each}}
        </table>


    </body>

</html>
